@media (max-width: 768px) {
    .header-wrapper         {
        padding: 20px 0px;
}}
@media (max-width: 480px) {
    .header-wrapper  {
      display: flex;
      height: 140px;
      width: 300px;
      flex-direction: column-reverse;
      margin:auto;
      padding: 0;
      padding-top: 0;
    }
}
@media (max-width: 480px) {
    .header-menu  {
      display: flex;
      width: 300px;
      height: 30px;
     
    }
}
@media (max-width: 480px) {
    .header-contact  {
      height: 60px;
     
    }
}