.header-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
   
}
.header-logo{
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-size: 32px;
    font-style: normal;
    
}
.header-menu{
    display: flex;
    gap: 25px;
    font-family: 'Manrope';
}
.header-menu-item{
    font-style: italic;
    font-weight: 600;
   
}
.header-contact{
width:120px;
height: 35px;
border-radius: 10px 10px 10px 10px;
background:  #2F2F37;
color: white;
z-index: 30;
}

.header-contact:hover{
    background: rgb(52, 50, 50);
}
.header-contact:active{
    background: #2F2F37;
}
@font-face {
    font-family: 'Manrope';
    src: url('../font/Manrope-VariableFont_wght.ttf') format('truetype');
  }

